.divRedes {
    /*las imágenes usadas tienen width de 48px*/

    width: 80%;
    margin-bottom: 2em;
    text-align: right;
}


.divMapaUbicacion {
    text-align: left;
}

.pDireciion {
    width: 80%;
    text-align: right;
    font-weight: bold;
    font-size: 12px;

}